* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
table {
    border: 1px solid grey;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid grey;
 }
 /* границы ячеек тела таблицы */




  thead {
    display: flex;
    flex-direction: column;
  }