* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
table {
    border: 1px solid grey;
 }
 
 th {
    border: 1px solid grey;
 }


tr {
    gap: 5px;
    display: flex;
    padding: 0 5px 5px;
}

  thead {
    display: flex;
    flex-direction: column;
  }


  .th-userid {
    width: 45px;
  }

  .th-id  {
    width: 30px;
  }
  

  .th-title {
    width: 535px; 
  }

  .th-completed {
    width: 80px;
  }
